body {
  font: 14px Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff; }

h1 {
  font-size: 42px; }

.main-page .wrapper {
  padding-bottom: 80px; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

header {
  background: linear-gradient(rgba(28, 163, 253, 0.48), rgba(28, 163, 253, 0.48)), url("top-background.jpg") center top;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: 1px; }
  header .wrapper nav {
    width: 645px;
    height: 57px;
    margin: 0 auto; }
    header .wrapper nav ul {
      margin: 0;
      padding: 20px 0 10px 0;
      font-size: 18px;
      list-style-type: none;
      border-bottom: 3px double #f4f8fb; }
    header .wrapper nav ul li {
      display: inline-block;
      width: 19%; }
      header .wrapper nav ul li a, header .wrapper nav ul li a:visited {
        color: #fff;
        text-decoration: none; }
  header .wrapper .user_icon {
    position: relative;
    left: 680px;
    top: -45px;
    width: 52px; }
  header .wrapper .subheading {
    font-size: 18px; }

.popular_cats {
  background-color: #000; }
  .popular_cats table {
    width: 960px; }
    .popular_cats table tr td {
      width: 25%;
      padding: 20px;
      text-align: center; }

.search {
  padding: 30px 0 50px 0; }
  .search .search_input {
    padding: 9px 10px 10px 10px;
    font-size: 15px;
    line-height: 19px;
    height: 22px;
    width: 509px;
    border: 1px solid #8095a8;
    border-radius: 3px;
    margin-right: 20px; }

.popular_books {
  background-color: #fafafa;
  color: #000;
  border-bottom: 3px #000 solid; }
  .popular_books table {
    padding-left: 120px;
    text-align: center; }
    .popular_books table tr td {
      padding-bottom: 60px; }
      .popular_books table tr td .book_img_wrapper {
        margin: 0 auto; }
      .popular_books table tr td .book_background {
        background-color: #1ca3fd;
        width: 131px;
        height: 253px;
        float: left; }
      .popular_books table tr td img {
        width: 138px;
        height: 215px;
        float: left;
        position: relative;
        left: -104px;
        top: 19px;
        border: 1px solid #055cb3; }
      .popular_books table tr td .book_title {
        font-size: 15px;
        color: #000;
        width: 178px;
        padding-top: 10px; }

.popular_books.without-border {
  border-bottom: 0; }

.books_new {
  background-color: #fafafa;
  padding: 52px 0 86px 0;
  border-bottom: 3px #000 solid; }
  .books_new .wrapper {
    position: relative; }
    .books_new .wrapper .new_books_label_wrapper {
      position: absolute;
      left: 333px;
      top: 132px;
      width: 291px;
      height: 216px;
      background-color: #1ca3fd;
      z-index: 10; }
      .books_new .wrapper .new_books_label_wrapper .new_books_icon_wrapper {
        padding: 78px 0 0 54px;
        float: left; }
        .books_new .wrapper .new_books_label_wrapper .new_books_icon_wrapper .new_books_icon {
          width: 71px;
          height: 58px; }
      .books_new .wrapper .new_books_label_wrapper .new_books_label {
        float: left;
        padding: 79px 0 0 20px;
        width: 100px;
        font-weight: bolder;
        font-size: 26px;
        line-height: 31px;
        text-align: left; }
    .books_new .wrapper .new_books_label_background {
      position: absolute;
      background-color: #1d8dd7;
      width: 151px;
      height: 108px;
      top: 256px;
      left: 317px;
      z-index: 1; }
    .books_new .wrapper table {
      table-layout: fixed;
      border-collapse: separate; }
      .books_new .wrapper table tr td div {
        max-width: 468px;
        max-height: 228px;
        overflow: hidden; }
        .books_new .wrapper table tr td div img {
          width: 468px; }
      .books_new .wrapper table tr td:first-child {
        padding-right: 20px; }
      .books_new .wrapper table tr:first-child td {
        padding-bottom: 20px; }

.articles_new {
  color: #000; }
  .articles_new .article_item {
    padding-bottom: 40px; }
    .articles_new .article_item .article_img_wrapper {
      margin-right: 30px; }
      .articles_new .article_item .article_img_wrapper .quote_img {
        background-image: url("quote_icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #1ca3fd;
        width: 151px;
        height: 153px;
        float: left; }
      .articles_new .article_item .article_img_wrapper .article_img {
        float: left;
        background-color: #1d8dd7;
        width: 153px;
        height: 153px; }
        .articles_new .article_item .article_img_wrapper .article_img img {
          width: 110px;
          height: 133px;
          padding: 10px 20px; }
    .articles_new .article_item .article_description {
      width: 542px;
      float: left;
      margin-left: 35px;
      padding: 7px 0;
      font-size: 15px;
      line-height: 21px;
      height: 153px; }
  .articles_new .article_title {
    width: 304px;
    font-size: 24px; }

.news {
  color: #000; }
  .news .news_item {
    width: 840px;
    padding-bottom: 30px;
    margin: 0 auto; }
    .news .news_item .news_img_wrapper {
      margin-right: 30px; }
      .news .news_item .news_img_wrapper .news_img {
        float: left;
        background-color: #1d8dd7;
        width: 234px;
        height: 242px; }
        .news .news_item .news_img_wrapper .news_img img {
          width: 168px;
          height: 203px;
          padding: 20px 20px; }
    .news .news_item .news_text_wrapper {
      float: left; }
      .news .news_item .news_text_wrapper .news_title {
        text-align: left;
        padding: 0 0 50px 100px;
        font-size: 24px; }
      .news .news_item .news_text_wrapper .news_description {
        width: 540px;
        float: left;
        padding: 7px 0 7px 65px;
        font-size: 15px;
        line-height: 21px;
        height: 153px; }

.horizontal_dotted_line {
  border-bottom: 1px dotted #000;
  width: 960px;
  margin-bottom: 35px; }

.pager {
  margin: 0 auto;
  width: 960px;
  text-align: center;
  color: #303030;
  font-size: 12px;
  padding: 40px 0 80px 0; }
  .pager .pager_wrapper {
    width: 210px;
    margin: 0 auto; }
    .pager .pager_wrapper .pager_item {
      width: 28px;
      height: 22px;
      background-color: #8cd0fe;
      border: 1px solid #81add9;
      float: left;
      margin-left: 15px;
      padding-top: 5px; }
    .pager .pager_wrapper .pager_item:first-child {
      margin-left: 0px; }

.block_heading-elem {
  position: relative;
  margin: 0 auto;
  top: -13px;
  width: 177px;
  height: 13px; }

.block_heading {
  width: 438px;
  margin: 0 auto 20px auto;
  height: 50px;
  background-color: #1ca3fd;
  font-size: 22px;
  font-weight: bolder;
  padding-top: 14px;
  position: relative;
  top: -12px;
  color: #fff; }
  .block_heading span {
    padding: 10px; }

.block_heading.without-border {
  top: -13px; }

.black {
  background-color: #000; }

.blue {
  background-color: #1d8dd7; }

.button {
  font-size: 23px;
  border-radius: 40px;
  background-color: #f4f8fb;
  color: #43beda;
  text-transform: uppercase;
  border: 0;
  font-weight: 700; }

.button.big {
  padding: 20px 56px;
  font-size: 23px; }

.button.small {
  font-size: 15px;
  padding: 8px 25px; }

.button:hover {
  background-color: #000a1c; }

.center {
  text-align: center; }

.clearfix {
  clear: both; }

section.cats {
  background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url("background.png") center top;
  -webkit-background-size: cover;
  background-size: cover; }
  section.cats .wrapper {
    padding-bottom: 30px; }
    section.cats .wrapper ul {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      column-fill: balance;
      -moz-column-fill: balance;
      -webkit-column-fill: balance;
      text-align: left;
      list-style-type: none;
      padding: 20px 0 0 40px; }
    section.cats .wrapper ul li {
      display: inline-block;
      padding-bottom: 20px;
      padding-left: 30px;
      width: 298px; }

/*# sourceMappingURL=site.css.map */
